<nav>
    <ul>
        <li>{{#link-to "index"}}Index{{/link-to}}</li>
        <li>{{#link-to "reviews"}}Reviews{{/link-to}}</li>
        <li>{{#link-to "coming-soon"}}Coming Soon...{{/link-to}}</li>
    </ul>
</nav>
<div class="container">
{{liquid-outlet}}
</div>
