<h1> Welcome to Super Blogs </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |blog|}}
    {{blog-tile blog=blog update="update" destroyBlog="destroyBlog"}}
  {{/each}}
</ul>
<form>

  {{lookup-form zipLookup="zipLookup"}}

<nav>
  {{#link-to 'reviews'}}Reviews{{/link-to}}
  {{#link-to 'coming-soon'}}Coming-soon.{{/link-to}}
  {{#link-to 'trailer-form'}}Trailers{{/link-to}}
</nav>

{{liquid-outlet}}
